

*{
    box-sizing: border-box;
}

body{
    background-color:#c4c8d0;
    background-image: linear-gradient(315deg, rgb(179, 33, 179) 0%,#73abff 100%);   
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px  2px rgba(100, 100,100,0.10);
    width: 600px;
    overflow: hidden;   

}
#joke-header{
    padding: 4rem;
}
h4 {
    padding: 1rem;
    text-align: center;
    margin: 0;
   }


.btn{
    background-color: rgb(6, 206, 39);
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;

}
.btn:hover{
    background-color: #0042d1;

}

.btn:focus{
    outline: none;
    background-color: #73abff;
}